<div class="row">
    <div class="container">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            {{#if news}}
            <p>{{news.id}}</p>
            <p>
                {{news.title}}</p>

            <p>{{news.text1}}</p>

            <p>{{news.text2}}</p>

            <p>{{news.text3}}</p>

            {{else}}
            Error
            {{/if}}
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>